.card-text__title {
  color: #161c35;
  font-size: 21px;
  line-height: 21px;
  font-family: @main-font-bold;
}

.card-text__subtitle {
  color: rgba(68, 68, 68, 30%);
  font-size: 16px;
  line-height: 18px;
  font-family: @main-font-medium;
}

.card-text__number {
  color: rgba(68, 68, 68, 30%);
  font-size: 16px;
  line-height: 30px;
  font-family: @main-font-medium;
}
