.companion {
  background-color: @main-bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.companion__wrapper {
  width: 270px;
  min-height: 1322px;
}

@media (min-width: @tablet-width) {
  .companion__wrapper {
    width: 688px;
    min-height: 1255px;
  }
}

.companion__info {
  padding-top: 70px;
  padding-left: 25px;
  margin-bottom: 57px;
}

.companion__info-text-bold br {
  &:first-of-type {
    display: none;
  }
}
