.features {
  background-color: #192144;
  margin-top: -40px;
}

.features__wrapper {
  padding-top: 17px;
  padding-bottom: 20px;
  min-height: 320px;
  width: 270px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: @tablet-width) {
  .features__wrapper {
    min-height: 320px;
    width: 688px;
  }
}
