.hero-features__item {
  font-size: 18px;
  line-height: 18px;
  font-family: @main-font-bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ff8d30;
  padding-left: 25px;
  padding-right: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  min-height: 88px;

  &:nth-child(2) {
    background-color: #ffa530;
    min-height: 88px;
    margin-top: -8px;
  }

  &:nth-child(3) {
    background-color: #ffbd30;
    margin-top: -8px;
  }

  &:nth-child(4) {
    background-color: #ffd74b;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: -8px;
    min-height: 80px;
  }
}

@media (min-width: @tablet-width) {
  .hero-features {
    background-color: #182044;
    display: flex;
    flex-direction: row;
  }
}

.hero-features__number {
  color: white;
  margin-left: auto;
}
