.hero-block {
  background-color: @main-bg-color;
  margin-bottom: 0;
  padding-bottom: 80px;
}

@media (min-width: @tablet-width) {
  .hero-block {
    background-color: #182044;
  }
}

@media (min-width: @desktop-width) {
  .hero-block {
    background-color: @main-bg-color;
  }
}

.hero-block__wrapper {
  width: 320px;
  margin: 0 auto;
  background-image: url("../../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-position: center -93px;
}

@media (min-width: @tablet-width) {
  .hero-block__wrapper {
    width: 768px;
    min-height: 868px;
    background-image: url("../../img/globe-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 1479px 612px;
    background-position: center bottom;
  }
}

@media (min-width: @desktop-width) {
  .hero-block__wrapper {
    width: 1440px;
    background-image: url("../../img/globe-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center bottom 230px;
  }
}

.hero-block__contaner {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  background-image: url("../../img/traveller-illustration-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: right 50px top 128px;
}

@media (min-width: @tablet-width) {
  .hero-block__contaner {
    min-height: 730px;
    background-image: url("../../img/traveller-illustration-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: right 113px bottom;
  }
}

@media (min-width: @desktop-width) {
  .hero-block__contaner {
    width: 1250px;
    min-height: 695px;
    background-image: url("../../img/traveller-illustration-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: right 310px top;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }
}

.hero-block__title {
  margin: 0;
  font-weight: bolder;
  font-size: 36px;
  line-height: 40px;
  font-family: @main-font-bold;
  color: white;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: @tablet-width) {
  .hero-block__title {
    font-size: 60px;
    line-height: 70px;
    padding-top: 37px;
    padding-left: 170px;
    padding-right: 170px;
  }
}

@media (min-width: @desktop-width) {
  .hero-block__title {
    font-size: 60px;
    line-height: 70px;
    padding-top: 99px;
    padding-left: 32px;
    padding-right: 40px;
    text-align: left;
  }
}

.hero-block__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 243px;
}

@media (min-width: @tablet-width) {
  .hero-block__buttons {
    display: none;
  }
}

.hero-block__quote {
  padding-left: 50px;
  padding-right: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 11px;
  margin-bottom: 37px;
}

.hero-block__quote--author {
  margin-top: 18px;
  margin-bottom: 0;
}

@media (min-width: @tablet-width) {
  .hero-block__quote {
    margin-top: 59px;
    padding-left: 75px;
    padding-right: 430px;
  }

  .hero-block__quote--author {
    padding-top: 15px;
    padding-right: 40px;
  }
}

@media (min-width: @desktop-width) {
  .hero-block__quote {
    margin-top: 83px;
    margin-left: 440px;
    padding-right: 0;
    padding-left: 0;
  }

  .hero-block__quote--author {
    padding-top: 16px;
  }
}
