.hero-block {
  background-color: @main-bg-color;
  min-height: 950px;
}

.hero-block__title {
  margin: 0;
  font-weight: bolder;
  font-size: 36px;
  line-height: 40px;
  font-family: @main-font-bold;
  color: white;
  text-align: center;
}

.hero-block__wrapper {
  width: 320px;
  margin: 0 auto;
}

.hero-block__globe {
  width: 320px;
  height: 260px;
  background-image: @globe;
  background-repeat: no-repeat;
  background-position: 0 70%;
}

.hero-block__man {
  width: 320px;
  height: 260px;
  background-image: @traveller;
  background-repeat: no-repeat;
  background-position: 62% bottom;
  margin-top: -257px;
}

.hero-block__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -20px;
}

.hero-block__quote {
  padding-top: 1px;
  padding-left: 10px;
}

.hero-block__features {
  padding-top: 17px;
  min-height: 320px;
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .hero-block__buttons {
    display: none;
  }
}

