.hero-features__item {
  font-size: 18px;
  line-height: 18px;
  font-family: @main-font-bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ff8d30;
  padding-left: 25px;
  padding-right: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  min-height: 80px;
}

.hero-features__number {
  color: white;
  margin-left: auto;
}
