.list-rates__item--number {
  color: white;
  font-size: 16px;
  line-height: 36px;
  font-family: @main-font;
  width: 34px;
  height: 34px;
  background-color: #ffa530;
  border-radius: 50px;
  text-align: center;
}

.list-rates__item--text,
.list-rates__item--price {
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  font-family: @main-font-light;
}
