.show-more {
  color: #1d2e5b;
  font-size: 18px;
  font-family: @main-font-bold;
  text-align: left;
  text-decoration: none;
  background-color: @accent-bg-color;
  border: 0;
  border-radius: 20px;
  padding-top: 29px;
  padding-right: 127px;
  padding-bottom: 25px;
  padding-left: 32px;
}

@media (min-width: @tablet-width) {
  .show-more--about {
    border-radius: 20px;
    font-size: 24px;
    background-image: url("../../img/triangle-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: right 14% center;
    background-size: 3.5%;
  }

  .show-more--about:hover {
    cursor: pointer;
  }
}

.show-more--destinations {
  background-image: url("../../img/triangle-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: right 9% center;
  background-size: 3.5%;
  border-radius: 10px;
  padding-top: 22px;
  padding-right: 141px;
  padding-bottom: 21px;
  padding-left: 24px;
}

@media (min-width: @tablet-width) {
  .show-more--destinations {
    font-size: 24px;
    background-position: right 5.8% center;
    background-size: 1.8%;
    border-radius: 20px;
    padding-top: 29px;
    padding-right: 127px;
    padding-bottom: 25px;
    padding-left: 32px;
  }
}

@media (min-width: @desktop-width) {
  .show-more--destinations {
    background-position: right 14% center;
    background-size: 3.5%;
    border-radius: 20px;
    padding-top: 30px;
    padding-right: 102px;
    padding-bottom: 25px;
    padding-left: 32px;
  }
}
